<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>History of the Internet</title>
</head>

<body>
    <header>
        <h1>History of the Internet</h1>
        <p>The Internet is a global network that connects computers and devices around the world, allowing them to communicate and exchange information. Its development began in the 1960s and evolved through several important technological milestones into the Internet we use today.</p>
    </header>

    <nav>
        <a href="/">Home</a> <br>
        <a href="/web-history">Web History</a>
    </nav>

    <main>
        <section>
            <h2>Internet Timeline</h2>
            <article>
                <h3>1969 - ARPANET:</h3>
                <p>The first major computer network was created by the U.S. Department of Defense. The first message was sent between computers at UCLA and Stanford Research Institute.</p>
                <a target="_blank" href="https://www.internetsociety.org/internet/history-internet/brief-history-internet/">https://www.internetsociety.org/internet/history-internet/brief-history-internet/</a>
            </article>
            <article>
                <h3>1971 - Email:</h3>
                <p>Ray Tomlinson developed network email and introduced the @ symbol to separate a username from the computer/domain.</p>
                <a target="_blank" href="https://www.computerhistory.org/timeline/1971/">https://www.computerhistory.org/timeline/1971/</a>
            </article>
            <article>
                <h3>1973-1974 - TCP/IP:</h3>
                <p>Vint Cerf and Bob Kahn developed the foundations of TCP/IP, the communication protocols that allow different computer networks to communicate.</p>
                <a target="_blank" href="https://www.computerhistory.org/internethistory/1970s/">https://www.computerhistory.org/internethistory/1970s/</a>
            </article>
            <article>
                <h3>1983 - Birth of the modern Internet:</h3>
                <p>ARPANET officially switched to TCP/IP on January 1, 1983. This is often considered a major starting point of the modern Internet.</p>
                <a target="_blank" href="https://www.darpa.mil/news/features/arpanet">https://www.darpa.mil/news/features/arpanet</a>
            </article>
            <article>
                <h3>1984 - Domain Name System (DNS):</h3>
                <p>DNS was introduced, allowing people to use readable domain names instead of remembering numerical IP addresses.</p>
                <a target="_blank" href="https://www.rfc-editor.org/info/rfc882/">https://www.rfc-editor.org/info/rfc882/</a>
            </article>
        </section>
    </main>

    <footer>
        <p>Web Programming — built with Flask and deployed on Render.</p>
        <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>
    </footer>
</body>

</html>